if ASURADA_STATUS_SCREEN_ASURADA

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    select LV_USE_LABEL
    select LV_USE_ARC
    select LV_USE_BAR
    select LV_USE_CANVAS
    select LV_COLOR_SCREEN_TRANSP

config ZMK_WPM
    default y

config LV_Z_MEM_POOL_SIZE
    default 20000

endif
